<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

        <!-- Logo -->
        <a href="@Url.Action("Index", "Home")#hero" class="logo d-flex align-items-center me-auto me-xl-0">
            <h1 class="sitename">El Mesón de la Tía</h1>
            <span>.</span>
        </a>

        <!-- Navigation -->
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="@Url.Action("Index", "Home")#hero" class="active">Home</a></li>
                <li><a href="@Url.Action("Index", "Home")#about">About</a></li>
                <li><a href="@Url.Action("Index", "Home")#menu">Menu</a></li>
                <li><a href="@Url.Action("Index", "Home")#events">Events</a></li>
                <li><a href="@Url.Action("Index", "Home")#chefs">Chefs</a></li>
                <li><a href="@Url.Action("Index", "Home")#gallery">Gallery</a></li>
                <li><a href="@Url.Action("Index", "Home")#contact">Contact</a></li>
              
            </ul>

            <!-- Mobile toggle -->
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <!-- Button -->
        <a class="btn-getstarted" href="/Auth/Login">Login</a>

    </div>
</header>